@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Create" asp-controller="Film">Add film</a>
                <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Create" asp-controller="Session">Create new session</a>
                <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Create" asp-controller="FilmGenre">Add film genre</a>
                <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Create" asp-controller="Director">Add film director</a>
</div>
