@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Index" asp-controller="Film">Add film</a>
                <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Index" asp-controller="Session">Create new session</a>
                <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Index" asp-controller="FilmGenre">Add film genre</a>
                <div class="btn-group">
            <a class="btn btn-primary width-200-px" asp-action="Index" asp-controller="Director">Add film director</a>
</div>
